* {
  margin: 0;
  padding: 0;
}
body .XMbox {
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
body .XMbox header {
  height: 50px;
  background-color: aliceblue;
}
body .XMbox header div {
  display: flex;
}
body .XMbox header div span {
  flex: 1;
  text-align: center;
  line-height: 3em;
  border: solid 1px #555;
}
body .XMbox header div span:nth-of-type(-n+2) {
  border-right: none;
}
body .XMbox main {
  flex: 1;
  display: flex;
}
body .XMbox main aside {
  width: 100px;
  background-color: pink;
}
body .XMbox main aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
body .XMbox main aside ul li {
  flex: 0 0 80px;
  outline: #ddd 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .XMbox main article {
  flex: 1;
  background-color: bisque;
}
body .XMbox footer {
  height: 80px;
  background-color: aliceblue;
}
body .XMbox footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
body .XMbox footer ul li {
  height: 80px;
  flex: 1;
  outline: #ddd 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
