<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../Js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>人员信息（数组遍历）</h2>
        <ul>
            <li v-for="(p,index) in persons" :key="index">{{index}}---{{p.name}}，年龄{{p.age}}</li>
        </ul>
        <h2>汽车信息（对象遍历）</h2>
        <ul>
            <li v-for="(p,key) in car" :key="key">{{key}}---{{p}}</li>
        </ul>
        <h2>字符串（字符串遍历）</h2>
        <ul>
            <li v-for="(s,index) of str" :key="index">{{index}}---{{s}}</li>
        </ul>
        <h2>测试遍历指定次数</h2>
        <ul>
            <li v-for="(n,index) of 5" :key="index">{{index}}---{{n}}</li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el:"#root",
        data() {
            return {
                persons:[
                    {id:001,name:'胡伊玲',age:'18'},
                    {id:002,name:'曹宏钰',age:'19'},
                    {id:003,name:'乌昂加',age:'20'}
                ],
                car:{
                    name:"奥迪A8",
                    price:"70万",
                    color:"black"
                },
                str:"Hello",
            }
        },
    })
</script>
</html>